.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;

}

.product-item {
    flex: 1;
    padding: 16px;
    margin: 16px;
    text-align: center;
    border: none;

}

.product-image {
    max-width: 100%;
    height: auto;
}
